body{
    font-family: Arial, sans-serif;
    padding:20px;
}

.summary{
    display:flex;
    gap:20px;
}

.card{
    border:1px solid black;
    padding:20px;
    width:200px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th, td{
    border:1px solid black;
    padding:10px;
}
form{
    margin-bottom:30px;
}

input{
    padding:10px;
    margin-right:10px;
}

button{
    padding:10px;
}